{% spaceless %}
  <!DOCTYPE html>
  <html>
  <head lang="ru">
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="{% block keywords %}Библиотека художественной литературы, читать с мобильного{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Библиотека художественной литературы{% endblock %}</title>
    {% stylesheets '@AppBundle/Resources/public/css/*'
    output='style.css'
    filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
  </head>

  <body>
  <div class="container">
    <header>Библиотека художественной литературы</header>
    <hr/>
    {#
      <div class="col-lg-6 col-md-6 col-sm-6" id="search-str">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Поиск по автору или названию произведения"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Искать!</button>
                    </span>
        </div>
      </div>
    #}
    <div class="container-fluid" style="text-align: center;">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar">
        <a href="{{ path('author') }}" class="btn btn-default navbar-btn">Авторы</a>
        <a href="{{ path('category') }}" class="btn btn-default navbar-btn">Категории</a>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    {% block breadcrumbs %}
      <ul class="breadcrumb">
        <li class="active">Библиотека</li>
      </ul>
    {% endblock breadcrumbs %}
    <div class="row">
      {#
          <div class="col-lg-3 col-md-4 col-sm-2">
            {{ menu()|raw }}
          </div>
      #}
      <div id="content" class="col-lg-12 col-md-12 col-sm-12">
        {% block content %}{% endblock %}
      </div>
    </div>
    <hr />
    <footer>
      <article>
        Все тексты представлены только в ознакомительных целях. Все произведенные действия с текстами Вы делаете
        только по собственному желанию и исключительно исходя из собственных потребностей. <a href="#">Условия
          использования</a>
      </article>
    </footer>
    <hr/>
  </div>
  {% javascripts
  '@AppBundle/Resources/public/js/jquery.js'
  '@AppBundle/Resources/public/js/bootstrap.js'
  output='script.js'
  filter='?yui_js' %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  </body>
  </html>
{% endspaceless %}