{% extends app.request.isXmlHttpRequest ? 'AppBundle::ajax.html.twig' : 'AppBundle::layout.html.twig' %}

{% block description %}Читать на мобильном книги более 17000 авторов бесплатно.  Художественная литература любого автора{% endblock %}

{% block keywords %}читать, книги, книгу, бесплатно, онлайн, литература, книги бесплатно, бесплатная библиотека, книги онлайн, читать книги, бесплатные книги, без регистрации, читать бесплатно, читать книги онлайн, библиотека на мобильном, читать книги бесплатно{% endblock %}
{% block title %}
  {{ ['Авторы', 'hudlit.info - Бесплатно читать книги онлайн без регистрации на мобильном']|join(' - ') }}
{% endblock %}

  {% block breadcrumbs %}
    {% include 'AppBundle:Template:breadcrumb.html.twig' with {links: {
    'Библиотека': '/',
    'Авторы': path('author'),
    ('Авторы на ' ~ app.request.attributes.get('letter', 'А') ) : ''
    }} %}
  {% endblock breadcrumbs %}

{% block content %}
  {{ author_letter_pagination(app.request.attributes.get('letter', 'А'), allLetters)|raw }}
  {{ author_pagination(app.request.query.getInt('page', 1), authorsCount, 60, 7)|raw }}

  <nav id="center-menu" class="row">
    {% for author in authors %}
      <div class="btn-group-vertical col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a lang="ru" href="{{ path('author_name', {slug: author.slug}) }}"
           class="btn btn-default">{{ author.name }}</a>
      </div>
    {% endfor %}
  </nav>

  {{ author_pagination(app.request.query.getInt('page', 1), authorsCount, 60, 7)|raw }}
  {{ author_letter_pagination(app.request.attributes.get('letter', 'А'), allLetters)|raw }}

{% endblock %}