{% extends app.request.isXmlHttpRequest ? 'AppBundle::ajax.html.twig' : 'AppBundle::layout.html.twig' %}

{% block description %}{{ ('Предлагаем Вам бесплатно прочесть книгу ' ~ book.name ~ ', которую написал ' ~ book.author.name ~ '. Книгу ' ~ book.name ~ ' также удобно читать и на мобильном') }}{% endblock %}

{% block keywords %}
  {{ [parent(), book.author.name, book.name, book.booksCategories.first.name]|join(', ') }}
{% endblock %}

{% block title %}
  {{ [book.name, book.author.name, 'hudlit.info - Бесплатно читать книги онлайн без регистрации на мобильном']|join(' - ') }}
{% endblock %}

{% block container_class %}
  .container-text
{% endblock %}

  {% block breadcrumbs %}
    {% include 'AppBundle:Template:breadcrumb.html.twig' with {links: {
    'Библиотека': '/',
    'Авторы': path('author'),
    ('Авторы на ' ~ book.author.name|slice(0,1)|capitalize ) : path('author_letter', {letter: book.author.name|slice(0,1)|capitalize}),
    (book.author.name):path('author_name', {slug: book.author.slug}),
    (book.name): ''
    }} %}
  {% endblock breadcrumbs %}

{% block content %}
  <div itemscope itemtype="http://schema.org/Article">
    <h6>Автор: <a lang="ru" href="{{ path('author_name', {slug: book.author.slug}) }}">{{ book.author.name }}</a>
    </h6>
    <h6>Категория: <a
          href="{{ path('category_name', {slug: book.booksCategories.first.slug}) }}">{{ book.booksCategories.first.name }}</a>
    </h6>

    <h1 itemprop="name">{{ book.name }}</h1>

    <h2 itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">{{ book.author.name }}</span>
    </h2>
  </div>
  <nav id="center-menu" class="row">
    {{ pagination(app.request.attributes.getInt('page', 1), book.pageCount, 1, 7, {slug: app.request.attributes.get('slug')})|raw }}
    <div id="book-content"
         class="btn-group-vertical col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
      <pre>{{ bookPage.content }}</pre>
    </div>
    {{ pagination(app.request.attributes.getInt('page', 1), book.pageCount, 1, 7, {slug: app.request.attributes.get('slug')})|raw }}
  </nav>

{% endblock %}