<div class="pagination-div">
    <ul class="pagination author-pagination">
        {% if prev is not null %}
            <li><a lang="ru" href="{{ path('author_letter', {letter: prev}) }}" aria-label="Previous"><span
                            aria-hidden="true">«</span></a></li>
        {% endif %}
        {% for i in pages %}
            {% if i == page %}
                <li class="active"><a lang="ru" href="{{ path('author_letter', {letter: i}) }}">{{ i }}</a></li>
            {% else %}
                <li><a lang="ru" href="{{ path('author_letter', {letter: i}) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if next is not null %}
            <li><a lang="ru" href="{{ path('author_letter', {letter: next}) }}" aria-label="Next"><span
                            aria-hidden="true">»</span></a></li>
        {% endif %}
    </ul>
</div>