<div class="pagination-div">
  <ul class="pagination">
    {% if prev is not null %}
      <li><a href="{{ path(app.request.get('_route'), {page: prev}|merge(extra)) }}" aria-label="Previous"><span
              aria-hidden="true">«</span></a></li>
    {% endif %}
    {% for i in pages %}
      {% if i == page %}
        <li class="active"><a href="{{ path(app.request.get('_route'), {page: i}|merge(extra)) }}">{{ i }}</a></li>
      {% else %}
        <li><a href="{{ path(app.request.get('_route'), {page: i}|merge(extra)) }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if next is not null %}
      <li><a href="{{ path(app.request.get('_route'), {page: next}|merge(extra)) }}" aria-label="Next"><span
              aria-hidden="true">»</span></a></li>
    {% endif %}
  </ul>
</div>